<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Formulaire de recherche d'images</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body class="container">
<h1 class="my-4">Recherche d'images</h1>
<form method="GET"  name="formRecherche" class="mb-4" action="/search">
    <div class="form-group">
        <label for="keyword">Phrase à rechercher :</label>
        <input type="text" id="keyword" name="keyword" required class="form-control">
    </div>
    <input type="hidden" id="format" name="format">

    <button type="button" class="btn btn-primary" onclick="envoyerFormulaire('json')">Résultat en format JSON</button>
    <button type="button" class="btn btn-primary" onclick="envoyerFormulaire('html')">Résultat en format HTML</button>
</form>

<script>
    function envoyerFormulaire(format) {
        document.getElementById('format').value = format;
        document.formRecherche.submit();
    }
</script>
</body>
</html>
